.App {
  text-align: center;
}

.App-header {
  background-color: darkcyan;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.container-Avatar {
  padding: 5px;
  float: right;
  position: relative;
}

.grayscale-Avatar {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 40%;
  background: lightgray;
}

.overlay-Avatar {
  padding: 5px;
  position: absolute;
  top: 5%;
  bottom: 0;
  left: 5%;
  right: 0;
  height: 80px;
  width: 80px;
  opacity: 0;
  transition: .5s ease;
}

.container-Avatar:hover .overlay-Avatar {
  opacity: 1;
}

.org-Avatar {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 40%;
}

#disqus_thread {
  padding: 10px;
}

$tooltip-settings: (
  'width': 220px,
  'font-size': 14px,
  'fallback-position': bottom, // top||right||bottom|left
  'triangle-size': 7px,
  'trigger-color': #2980b9,
  'text-color': white,
  'bg-color': rgba(black, 0.9)
);

@mixin tooltip-position($position: map-get($tooltip-settings, 'fallback-position')) {
  .container-Avatar {
    &::before {
      border: {
        top-color: transparent;
        right-color: transparent;
        bottom-color: transparent;
        left-color: transparent;
        #{$position}-color: map-get($tooltip-settings, 'bg-color');
      }
      top: auto;
      right: auto;
      bottom: auto;
      left: auto;
    }
  }
  .content {
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
  @if $position == top {
    .container-Avatar::before {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    .content {
      top: auto;
      bottom: 100%;
      left: 0;
    }
  }
  @if $position == right {
    .container-Avatar::before {
      border-left: none;
      top: 50%;
      transform: translateY(-50%);
      left: 100%;
    }
    .content {
      top: -100%;
      left: 106%; // fallback for calc
      left: calc( 100% + #{map-get($tooltip-settings, 'triangle-size')} );
    }
  }
  @if $position == bottom {
    .container-Avatar::before {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    .content {
      top: 100%;
      left: -100%;
    }
  }
  @if $position == left {
    .container-Avatar::before {
      border-right: none;
      top: 50%;
      transform: translateY(-50%);
      right: 100%;
    }
    .content {
      top: 5%;
      right: 106%; // fallback for calc
      right: calc( 100% + #{map-get($tooltip-settings, 'triangle-size')} );
    }
  }
}

* {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  color: #34495e;
  font: {
    family: 'Source Sans Pro', sans-serif;
    size: 16px;
    weight: normal;
  }
  background:
  linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
  linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
  linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
  linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
  linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
  linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
}

.wrap {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.tooltip {
  text-align: left;
  position: relative;
  .container-Avatar {
    //display: inline-block;
    //padding: 0.75em; // bigger click area
    z-index: 1;
    text-decoration: none;
    color: map-get($tooltip-settings, 'trigger-color');
    &::before {
      content: '';
      opacity: 0;
      visibility: hidden;
      position: absolute;
      border: map-get($tooltip-settings, 'triangle-size') solid transparent;
      transition: all 150ms ease-in-out;
    }
  }
  .content  {
    display: inline-block;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: map-get($tooltip-settings, 'bg-color');
    color: map-get($tooltip-settings, 'text-color');
    padding: 1em;
    border-radius: 5px;
    width: map-get($tooltip-settings, 'width');
    font-size: map-get($tooltip-settings, 'font-size');
    transition: all 150ms ease-in-out;
  }
  @include tooltip-position();
  &.bottom {
    @include tooltip-position('bottom');
  }
  &.left {
    @include tooltip-position('left');
  }
  &.right {
    @include tooltip-position('right');
  }
  &.top {
    @include tooltip-position('top');
  }
  &:hover {
    .container-Avatar {
      &::before {
        opacity: 1;
        visibility: visible;
      }
    }
    .content {
      opacity: 1;
      visibility: visible;
    }
  }
  // Hold open tooltip dialog
  .container-Avatar:focus {
    &::before {
      opacity: 1;
      visibility: visible;
    }
  }
  .container-Avatar:focus + .content {
    opacity: 1;
    visibility: visible;
  }
}

.gitlabText {
  margin-top: 10px;
  margin-right: 10px;
  float: right;
  color: lightgrey;
  font-size: 16px;
  text-align: right;
}

.gitlabLogo {
  margin-right: 10px;
  float: right;
  width: 90px;
}