.App {
  text-align: center; }

.App-header {
  background-color: darkcyan;
  height: 150px;
  padding: 20px;
  color: white; }

.App-intro {
  font-size: large; }

.container-Avatar {
  padding: 5px;
  float: right;
  position: relative; }

.grayscale-Avatar {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 40%;
  background: lightgray; }

.overlay-Avatar {
  padding: 5px;
  position: absolute;
  top: 5%;
  bottom: 0;
  left: 5%;
  right: 0;
  height: 80px;
  width: 80px;
  opacity: 0;
  transition: .5s ease; }

.container-Avatar:hover .overlay-Avatar {
  opacity: 1; }

.org-Avatar {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 40%; }

#disqus_thread {
  padding: 10px; }

* {
  box-sizing: border-box; }

body {
  line-height: 1.5;
  color: #34495e;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: normal;
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px; }

.wrap {
  display: inline-block;
  text-align: center;
  width: 100%; }

.tooltip {
  text-align: left;
  position: relative; }
  .tooltip .container-Avatar {
    z-index: 1;
    text-decoration: none;
    color: #2980b9; }
    .tooltip .container-Avatar::before {
      content: '';
      opacity: 0;
      visibility: hidden;
      position: absolute;
      border: 7px solid transparent;
      transition: all 150ms ease-in-out; }
  .tooltip .content {
    display: inline-block;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 1em;
    border-radius: 5px;
    width: 220px;
    font-size: 14px;
    transition: all 150ms ease-in-out; }
  .tooltip .container-Avatar::before {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-bottom-color: rgba(0, 0, 0, 0.9);
    top: auto;
    right: auto;
    bottom: auto;
    left: auto; }
  .tooltip .content {
    top: auto;
    right: auto;
    bottom: auto;
    left: auto; }
  .tooltip .container-Avatar::before {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }
  .tooltip .content {
    top: 100%;
    left: -100%; }
  .tooltip.bottom .container-Avatar::before {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-bottom-color: rgba(0, 0, 0, 0.9);
    top: auto;
    right: auto;
    bottom: auto;
    left: auto; }
  .tooltip.bottom .content {
    top: auto;
    right: auto;
    bottom: auto;
    left: auto; }
  .tooltip.bottom .container-Avatar::before {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }
  .tooltip.bottom .content {
    top: 100%;
    left: -100%; }
  .tooltip.left .container-Avatar::before {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-left-color: rgba(0, 0, 0, 0.9);
    top: auto;
    right: auto;
    bottom: auto;
    left: auto; }
  .tooltip.left .content {
    top: auto;
    right: auto;
    bottom: auto;
    left: auto; }
  .tooltip.left .container-Avatar::before {
    border-right: none;
    top: 50%;
    transform: translateY(-50%);
    right: 100%; }
  .tooltip.left .content {
    top: 5%;
    right: 106%;
    right: calc( 100% + 7px); }
  .tooltip.right .container-Avatar::before {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: rgba(0, 0, 0, 0.9);
    top: auto;
    right: auto;
    bottom: auto;
    left: auto; }
  .tooltip.right .content {
    top: auto;
    right: auto;
    bottom: auto;
    left: auto; }
  .tooltip.right .container-Avatar::before {
    border-left: none;
    top: 50%;
    transform: translateY(-50%);
    left: 100%; }
  .tooltip.right .content {
    top: -100%;
    left: 106%;
    left: calc( 100% + 7px); }
  .tooltip.top .container-Avatar::before {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-color: rgba(0, 0, 0, 0.9);
    top: auto;
    right: auto;
    bottom: auto;
    left: auto; }
  .tooltip.top .content {
    top: auto;
    right: auto;
    bottom: auto;
    left: auto; }
  .tooltip.top .container-Avatar::before {
    top: 0;
    left: 50%;
    transform: translateX(-50%); }
  .tooltip.top .content {
    top: auto;
    bottom: 100%;
    left: 0; }
  .tooltip:hover .container-Avatar::before {
    opacity: 1;
    visibility: visible; }
  .tooltip:hover .content {
    opacity: 1;
    visibility: visible; }
  .tooltip .container-Avatar:focus::before {
    opacity: 1;
    visibility: visible; }
  .tooltip .container-Avatar:focus + .content {
    opacity: 1;
    visibility: visible; }

.gitlabText {
  margin-top: 10px;
  margin-right: 10px;
  float: right;
  color: lightgrey;
  font-size: 16px;
  text-align: right; }

.gitlabLogo {
  margin-right: 10px;
  float: right;
  width: 90px; }
